<footer class="footer">
  <div class="footer-container">
    <div class="footer-nav">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/why_rino">Why Rino.js?</a></li>
        <li><a href="/installation">Installation</a></li>
        <li><a href="/commands">Commands</a></li>
        <li><a href="/project_structure">Project Structure</a></li>
        <li><a href="/syntax">Syntax</a></li>
        <li><a href="/donate">Donate</a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <h3>Language</h3>
      <ul>
        <li><a href="/">English</a></li>
        <li><a href="/ko/">한국어</a></li>
        <li><a href="/ja/">日本語</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h3></h3>
      <div class="social-icons">
        <a href="https://github.com/rinojs" aria-label="GitHub" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://npmjs.com/package/rinojs" aria-label="NPM" target="_blank"><ion-icon name="logo-npm"></ion-icon></i></a>
        <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Rino.js is Free, MIT licensed opensource project</p>
    <br />
    <p>&copy; 2024 Victor Chanil Park (opdev1004)</p>
  </div>
</footer>
