<footer class="footer">
  <div class="footer-container">
    <div class="footer-nav">
      <h3>クイックリンク</h3>
      <ul>
        <li><a href="/ja/">ホーム</a></li>
        <li><a href="/ja/why_rino">なぜRino.js</a></li>
        <li><a href="/ja/installation">インストール</a></li>
        <li><a href="/ja/commands">コマンド</a></li>
        <li><a href="/ja/project_structure">プロジェクト構造</a></li>
        <li><a href="/ja/syntax">構文</a></li>
        <li><a href="/ja/donate">寄付</a></li>
        <li><a href="/ja/contact">連絡先&ヘルプ</a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <h3>言語</h3>
      <ul>
        <li><a href="/">English</a></li>
        <li><a href="/ko/">한국어</a></li>
        <li><a href="/ja/">日本語</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h3></h3>
      <div class="social-icons">
        <a href="https://github.com/rinojs" aria-label="GitHub" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://npmjs.com/package/rinojs" aria-label="NPM" target="_blank"><ion-icon name="logo-npm"></ion-icon></i></a>
        <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Rino.js は無料の、MIT ライセンスのオープンソース プロジェクトです。</p>
    <br />
    <p>&copy; 2024 Victor Chanil Park (opdev1004)</p>
  </div>
</footer>
