<header>
  <div class="header-content-wrapper">
    <div>
      <div>
        <button id="sidebar-toggle" type="button" aria-label="Toggle Sidebar">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
      </div>
      <img src="/images/rino32.png" width="32" height="32" alt="logo" />
      <a href="/ja/">Rino</a>
    </div>
    <div id="header-right">
      <a href="/ja/why_rino">なぜRino.js</a>
      <a href="/ja/installation">インストール</a>
      <a href="/ja/project_structure">勉強</a>
      <a href="/ja/donate">寄付</a>
    </div>
  </div>
</header>
