<div class="sidebar-wrapper" id="sidebar-wrapper">
  <aside class="sidebar" id="sidebar">
    <ul>
      <li><a href="/ja/">ホーム</a></li>
      <li><a href="/ja/why_rino">なぜRino.js</a></li>
      <li><a href="/ja/installation">インストール</a></li>
      <li><a href="/ja/commands">コマンド</a></li>
      <li><a href="/ja/project_structure">プロジェクト構造</a></li>
      <li><a href="/ja/syntax">構文</a></li>
      <li><a href="/ja/contact">連絡先&ヘルプ</a></li>
      <li><a href="/ja/donate">寄付</a></li>
    </ul>
  </aside>
</div>
