<header>
  <div class="header-content-wrapper">
    <div>
      <div>
        <button id="sidebar-toggle" type="button" aria-label="Toggle Sidebar">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
      </div>
      <img src="/images/rino32.png" width="32" height="32" alt="logo" />
      <a href="/ko/">Rino</a>
    </div>
    <div id="header-right">
      <a href="/ko/why_rino">Rino를 사용하는 이유</a>
      <a href="/ko/installation">설치</a>
      <a href="/ko/project_structure">학습하기</a>
      <a href="/ko/contact">연락처</a>
      <a href="/ko/donate">후원</a>
    </div>
  </div>
</header>
